<a href="#" class="chatbot"><img src="assets/images/whatsapp.png" alt=""><span>Chat with Whatsapp</span></a>
<footer class="footer">
  <div class="footer_topsec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="footer_logo mt-3"> <img src="assets/images/logo_footer.png" alt="logo"/> </div>
          <h6 class="mt-2">Stay in touch with us</h6>
          <div class="footer_social mb-3"> <a href="" class="fb_ico"></a> <a href="" class="twit_ico"></a> <a href="" class="in_ico"></a> <a href="" class="insta_ico"></a><a href="" class="ytube_ico"></a> </div>
          <h6>Download Our App</h6>
          <div class="app_download"> <a href="#" class="mr-1"><img src="assets/images/gplay.png" alt=""></a> <a href="#"><img src="assets/images/appstore.png" alt=""></a> </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-12">
          <h4>Customer Service</h4>
          <div class="footer_quicklinks">
            <ul>
              <li><a href="#">Consumer Rights Logo</a></li>
              <li><a href="#">Customer service</a></li>
              <li><a href="#">Service & Warranty</a></li>
              <li><a href="#">Return & Exchange</a></li>
              <li><a href="#">Secured Online Payments</a></li>
              <li><a href="#">Cash on Delivery</a></li>
              <li><a href="#">Shipping & Delivery</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-4 col-12">
          <h4>About Us</h4>
          <div class="footer_quicklinks">
            <ul>
              <li><a [routerLink]="['/web/page/about_us']">About Us</a></li>
              <li><a href="#">Advertise With Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 footer_custcare">
          <h4>Help & Support</h4>
          <div class="footer_quicklinks">
            <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a [routerLink]="['/web/page/contact_us']">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row copyright_area">
      <div class="col-sm-8"> <span class="copyright_">© 2021 Every Day Meat. All Rights Reserved.</span> </div>
      <div class="col-sm-4"> <span class="poweredby_"> powered by <a href="http://www.seeroo.com/" target="_blank"><img src="assets/images/seeroo_icon.png"/></a></span> </div>
    </div>
  </div>
</footer>
